<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itgowo.mybatisframework.demo.DemoDao">

  <resultMap id="BaseResultMap" type="com.itgowo.mybatisframework.demo.DemoEntity">
    <id column="keyid" jdbcType="INTEGER" property="keyid" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contory" jdbcType="VARCHAR" property="contory" />
    <result column="quality" jdbcType="INTEGER" property="quality" />
    <result column="cost" jdbcType="DOUBLE" property="cost" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="distance" jdbcType="INTEGER" property="distance" />
    <result column="attack" jdbcType="INTEGER" property="attack" />
    <result column="attGrow" jdbcType="DOUBLE" property="attGrow" />
    <result column="def" jdbcType="INTEGER" property="def" />
    <result column="defGrow" jdbcType="DOUBLE" property="defGrow" />
    <result column="ruse" jdbcType="INTEGER" property="ruse" />
    <result column="ruseGrow" jdbcType="DOUBLE" property="ruseGrow" />
    <result column="siege" jdbcType="INTEGER" property="siege" />
    <result column="siegeGrow" jdbcType="DOUBLE" property="siegeGrow" />
    <result column="speed" jdbcType="INTEGER" property="speed" />
    <result column="speedGrow" jdbcType="DOUBLE" property="speedGrow" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="groupName" jdbcType="VARCHAR" property="groupName" />
    <result column="methodId" jdbcType="INTEGER" property="methodId" />
    <result column="methodName" jdbcType="VARCHAR" property="methodName" />
    <result column="methodId1" jdbcType="INTEGER" property="methodId1" />
    <result column="methodName1" jdbcType="VARCHAR" property="methodName1" />
    <result column="methodId2" jdbcType="INTEGER" property="methodId2" />
    <result column="methodName2" jdbcType="VARCHAR" property="methodName2" />
    <result column="uniqueName" jdbcType="VARCHAR" property="uniqueName" />
    <result column="normal" jdbcType="INTEGER" property="normal" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.itgowo.mybatisframework.demo.DemoEntity">
    <result column="desc" jdbcType="LONGVARCHAR" property="desc" />
    <result column="groudArr" jdbcType="LONGVARCHAR" property="groudArr" />
    <result column="methodDesc" jdbcType="LONGVARCHAR" property="methodDesc" />
    <result column="methodDesc1" jdbcType="LONGVARCHAR" property="methodDesc1" />
    <result column="methodDesc2" jdbcType="LONGVARCHAR" property="methodDesc2" />
    <result column="groups" jdbcType="LONGVARCHAR" property="groups" />
  </resultMap>
  <sql id="Base_Column_List">
    keyid, id, `name`, contory, quality, cost, `type`, distance, attack, attGrow, def, 
    defGrow, ruse, ruseGrow, siege, siegeGrow, speed, speedGrow, sex, icon, groupName, 
    methodId, methodName, methodId1, methodName1, methodId2, methodName2, uniqueName, 
    normal, uuid
  </sql>
  <sql id="Blob_Column_List">
    `desc`, groudArr, methodDesc, methodDesc1, methodDesc2, groups
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stzb_hero2
    where keyid = #{keyid,jdbcType=INTEGER}

  </select>
  <select id="select" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stzb_hero2
    where keyid = #{keyid,jdbcType=INTEGER}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stzb_hero2
    where keyid = #{keyid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="keyid" keyProperty="keyid" parameterType="com.itgowo.mybatisframework.demo.DemoEntity" useGeneratedKeys="true">
    insert into stzb_hero2 (id, `name`, contory, 
      quality, cost, `type`, 
      distance, attack, attGrow, 
      def, defGrow, ruse, 
      ruseGrow, siege, siegeGrow, 
      speed, speedGrow, sex, 
      icon, groupName, methodId, 
      methodName, methodId1, methodName1, 
      methodId2, methodName2, uniqueName, 
      normal, uuid, `desc`, 
      groudArr, methodDesc, methodDesc1, 
      methodDesc2, groups)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{contory,jdbcType=VARCHAR}, 
      #{quality,jdbcType=INTEGER}, #{cost,jdbcType=DOUBLE}, #{type,jdbcType=VARCHAR}, 
      #{distance,jdbcType=INTEGER}, #{attack,jdbcType=INTEGER}, #{attGrow,jdbcType=DOUBLE}, 
      #{def,jdbcType=INTEGER}, #{defGrow,jdbcType=DOUBLE}, #{ruse,jdbcType=INTEGER}, 
      #{ruseGrow,jdbcType=DOUBLE}, #{siege,jdbcType=INTEGER}, #{siegeGrow,jdbcType=DOUBLE}, 
      #{speed,jdbcType=INTEGER}, #{speedGrow,jdbcType=DOUBLE}, #{sex,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{methodId,jdbcType=INTEGER}, 
      #{methodName,jdbcType=VARCHAR}, #{methodId1,jdbcType=INTEGER}, #{methodName1,jdbcType=VARCHAR}, 
      #{methodId2,jdbcType=INTEGER}, #{methodName2,jdbcType=VARCHAR}, #{uniqueName,jdbcType=VARCHAR}, 
      #{normal,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{desc,jdbcType=LONGVARCHAR}, 
      #{groudArr,jdbcType=LONGVARCHAR}, #{methodDesc,jdbcType=LONGVARCHAR}, #{methodDesc1,jdbcType=LONGVARCHAR}, 
      #{methodDesc2,jdbcType=LONGVARCHAR}, #{groups,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="keyid" keyProperty="keyid" parameterType="com.itgowo.mybatisframework.demo.DemoEntity" useGeneratedKeys="true">
    insert into stzb_hero2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="contory != null">
        contory,
      </if>
      <if test="quality != null">
        quality,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="distance != null">
        distance,
      </if>
      <if test="attack != null">
        attack,
      </if>
      <if test="attGrow != null">
        attGrow,
      </if>
      <if test="def != null">
        def,
      </if>
      <if test="defGrow != null">
        defGrow,
      </if>
      <if test="ruse != null">
        ruse,
      </if>
      <if test="ruseGrow != null">
        ruseGrow,
      </if>
      <if test="siege != null">
        siege,
      </if>
      <if test="siegeGrow != null">
        siegeGrow,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="speedGrow != null">
        speedGrow,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="groupName != null">
        groupName,
      </if>
      <if test="methodId != null">
        methodId,
      </if>
      <if test="methodName != null">
        methodName,
      </if>
      <if test="methodId1 != null">
        methodId1,
      </if>
      <if test="methodName1 != null">
        methodName1,
      </if>
      <if test="methodId2 != null">
        methodId2,
      </if>
      <if test="methodName2 != null">
        methodName2,
      </if>
      <if test="uniqueName != null">
        uniqueName,
      </if>
      <if test="normal != null">
        normal,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="groudArr != null">
        groudArr,
      </if>
      <if test="methodDesc != null">
        methodDesc,
      </if>
      <if test="methodDesc1 != null">
        methodDesc1,
      </if>
      <if test="methodDesc2 != null">
        methodDesc2,
      </if>
      <if test="groups != null">
        groups,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contory != null">
        #{contory,jdbcType=VARCHAR},
      </if>
      <if test="quality != null">
        #{quality,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="distance != null">
        #{distance,jdbcType=INTEGER},
      </if>
      <if test="attack != null">
        #{attack,jdbcType=INTEGER},
      </if>
      <if test="attGrow != null">
        #{attGrow,jdbcType=DOUBLE},
      </if>
      <if test="def != null">
        #{def,jdbcType=INTEGER},
      </if>
      <if test="defGrow != null">
        #{defGrow,jdbcType=DOUBLE},
      </if>
      <if test="ruse != null">
        #{ruse,jdbcType=INTEGER},
      </if>
      <if test="ruseGrow != null">
        #{ruseGrow,jdbcType=DOUBLE},
      </if>
      <if test="siege != null">
        #{siege,jdbcType=INTEGER},
      </if>
      <if test="siegeGrow != null">
        #{siegeGrow,jdbcType=DOUBLE},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="speedGrow != null">
        #{speedGrow,jdbcType=DOUBLE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="methodId != null">
        #{methodId,jdbcType=INTEGER},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodId1 != null">
        #{methodId1,jdbcType=INTEGER},
      </if>
      <if test="methodName1 != null">
        #{methodName1,jdbcType=VARCHAR},
      </if>
      <if test="methodId2 != null">
        #{methodId2,jdbcType=INTEGER},
      </if>
      <if test="methodName2 != null">
        #{methodName2,jdbcType=VARCHAR},
      </if>
      <if test="uniqueName != null">
        #{uniqueName,jdbcType=VARCHAR},
      </if>
      <if test="normal != null">
        #{normal,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="groudArr != null">
        #{groudArr,jdbcType=LONGVARCHAR},
      </if>
      <if test="methodDesc != null">
        #{methodDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="methodDesc1 != null">
        #{methodDesc1,jdbcType=LONGVARCHAR},
      </if>
      <if test="methodDesc2 != null">
        #{methodDesc2,jdbcType=LONGVARCHAR},
      </if>
      <if test="groups != null">
        #{groups,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itgowo.mybatisframework.demo.DemoEntity">
    update stzb_hero2
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contory != null">
        contory = #{contory,jdbcType=VARCHAR},
      </if>
      <if test="quality != null">
        quality = #{quality,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="distance != null">
        distance = #{distance,jdbcType=INTEGER},
      </if>
      <if test="attack != null">
        attack = #{attack,jdbcType=INTEGER},
      </if>
      <if test="attGrow != null">
        attGrow = #{attGrow,jdbcType=DOUBLE},
      </if>
      <if test="def != null">
        def = #{def,jdbcType=INTEGER},
      </if>
      <if test="defGrow != null">
        defGrow = #{defGrow,jdbcType=DOUBLE},
      </if>
      <if test="ruse != null">
        ruse = #{ruse,jdbcType=INTEGER},
      </if>
      <if test="ruseGrow != null">
        ruseGrow = #{ruseGrow,jdbcType=DOUBLE},
      </if>
      <if test="siege != null">
        siege = #{siege,jdbcType=INTEGER},
      </if>
      <if test="siegeGrow != null">
        siegeGrow = #{siegeGrow,jdbcType=DOUBLE},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="speedGrow != null">
        speedGrow = #{speedGrow,jdbcType=DOUBLE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="methodId != null">
        methodId = #{methodId,jdbcType=INTEGER},
      </if>
      <if test="methodName != null">
        methodName = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodId1 != null">
        methodId1 = #{methodId1,jdbcType=INTEGER},
      </if>
      <if test="methodName1 != null">
        methodName1 = #{methodName1,jdbcType=VARCHAR},
      </if>
      <if test="methodId2 != null">
        methodId2 = #{methodId2,jdbcType=INTEGER},
      </if>
      <if test="methodName2 != null">
        methodName2 = #{methodName2,jdbcType=VARCHAR},
      </if>
      <if test="uniqueName != null">
        uniqueName = #{uniqueName,jdbcType=VARCHAR},
      </if>
      <if test="normal != null">
        normal = #{normal,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="groudArr != null">
        groudArr = #{groudArr,jdbcType=LONGVARCHAR},
      </if>
      <if test="methodDesc != null">
        methodDesc = #{methodDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="methodDesc1 != null">
        methodDesc1 = #{methodDesc1,jdbcType=LONGVARCHAR},
      </if>
      <if test="methodDesc2 != null">
        methodDesc2 = #{methodDesc2,jdbcType=LONGVARCHAR},
      </if>
      <if test="groups != null">
        groups = #{groups,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where keyid = #{keyid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.itgowo.mybatisframework.demo.DemoEntity">
    update stzb_hero2
    set `name` = #{name,jdbcType=VARCHAR},
      contory = #{contory,jdbcType=VARCHAR},
      quality = #{quality,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DOUBLE},
      `type` = #{type,jdbcType=VARCHAR},
      distance = #{distance,jdbcType=INTEGER},
      attack = #{attack,jdbcType=INTEGER},
      attGrow = #{attGrow,jdbcType=DOUBLE},
      def = #{def,jdbcType=INTEGER},
      defGrow = #{defGrow,jdbcType=DOUBLE},
      ruse = #{ruse,jdbcType=INTEGER},
      ruseGrow = #{ruseGrow,jdbcType=DOUBLE},
      siege = #{siege,jdbcType=INTEGER},
      siegeGrow = #{siegeGrow,jdbcType=DOUBLE},
      speed = #{speed,jdbcType=INTEGER},
      speedGrow = #{speedGrow,jdbcType=DOUBLE},
      sex = #{sex,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      groupName = #{groupName,jdbcType=VARCHAR},
      methodId = #{methodId,jdbcType=INTEGER},
      methodName = #{methodName,jdbcType=VARCHAR},
      methodId1 = #{methodId1,jdbcType=INTEGER},
      methodName1 = #{methodName1,jdbcType=VARCHAR},
      methodId2 = #{methodId2,jdbcType=INTEGER},
      methodName2 = #{methodName2,jdbcType=VARCHAR},
      uniqueName = #{uniqueName,jdbcType=VARCHAR},
      normal = #{normal,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=LONGVARCHAR},
      groudArr = #{groudArr,jdbcType=LONGVARCHAR},
      methodDesc = #{methodDesc,jdbcType=LONGVARCHAR},
      methodDesc1 = #{methodDesc1,jdbcType=LONGVARCHAR},
      methodDesc2 = #{methodDesc2,jdbcType=LONGVARCHAR},
      groups = #{groups,jdbcType=LONGVARCHAR}
    where keyid = #{keyid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itgowo.mybatisframework.demo.DemoEntity">
    update stzb_hero2
    set `name` = #{name,jdbcType=VARCHAR},
      contory = #{contory,jdbcType=VARCHAR},
      quality = #{quality,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DOUBLE},
      `type` = #{type,jdbcType=VARCHAR},
      distance = #{distance,jdbcType=INTEGER},
      attack = #{attack,jdbcType=INTEGER},
      attGrow = #{attGrow,jdbcType=DOUBLE},
      def = #{def,jdbcType=INTEGER},
      defGrow = #{defGrow,jdbcType=DOUBLE},
      ruse = #{ruse,jdbcType=INTEGER},
      ruseGrow = #{ruseGrow,jdbcType=DOUBLE},
      siege = #{siege,jdbcType=INTEGER},
      siegeGrow = #{siegeGrow,jdbcType=DOUBLE},
      speed = #{speed,jdbcType=INTEGER},
      speedGrow = #{speedGrow,jdbcType=DOUBLE},
      sex = #{sex,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      groupName = #{groupName,jdbcType=VARCHAR},
      methodId = #{methodId,jdbcType=INTEGER},
      methodName = #{methodName,jdbcType=VARCHAR},
      methodId1 = #{methodId1,jdbcType=INTEGER},
      methodName1 = #{methodName1,jdbcType=VARCHAR},
      methodId2 = #{methodId2,jdbcType=INTEGER},
      methodName2 = #{methodName2,jdbcType=VARCHAR},
      uniqueName = #{uniqueName,jdbcType=VARCHAR},
      normal = #{normal,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=VARCHAR}
    where keyid = #{keyid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>